.box {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 16px;
  border-radius: 4px;
  border: solid 1px #d4e0de;
  background-color: #ffffff;

  header {
    margin-bottom: 16px;
    border-bottom: 2px dashed #979797;
    padding-bottom: 16px;
    .top {
      display: flex;
      justify-content: space-between;
    }
    strong {
      font-size: 12px;
      color: #777;
      font-weight: 600;
      display: block;
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
      color: #1f242b;
      margin: 8px 0;
    }
    .color {
      display: inline-block;
      margin-top: 8px;
      color: #fff;
      padding: 4px 8px;
      border-radius: 4px;
      line-height: 16px;
    }
  }
  main {
    .description {
      &:after,
      &:before {
        content: "";
        clear: both;
        display: table;
      }
      h4 {
        margin: 0 0 8px;
        font-weight: 600;
      }
      p {
        margin: 0;
      }
    }
  }
  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}
