.filters {
  display: flex;
  background: #fff;
  border: solid 1px #cccccc;
  border-radius: 4px;
  padding: 32px 8px;
  margin-top: 32px;

  .filter {
    width: 25%;
    padding: 0 8px;
    position: relative;
  }
}

.textField {
  label {
    color: #1e232a;
    margin-bottom: 4px;
    display: block;
    font-weight: 500;
    font-size: 14px;
  }
  input {
    height: 38px;
    border: solid 1px #cccccc;
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 14px;
    display: block;
    background: #fff;
    width: 100%;
    color: #777;
    font-weight: 500;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
  ::placeholder{
    color: hsl(0,0%,50%);
    font-weight: 400
  }
}

.dropdownField {
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  button {
    width: 100px;
    font-size: 14px;
    height: 28px;
    border: 0;
    color: #fff;
  }
  .apply {
    background: #00a6de;
  }
  .cancel {
    background: #de0f00;
  }
}