.button {
  height: 38px;
  width: 100%;
  display: block;
  border: solid 1px #cccccc;
  background: #f9f9f9;
  color: #22272d;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 21px;
  position: relative;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}
