.boxes {
  display: flex;
  margin: 32px -8px;
  flex-wrap: wrap;
}

.boxWrapper {
  width: 25%;
  padding: 8px;
}

.noData {
  padding: 16px;
  border-radius: 4px;
  border: solid 1px #d4e0de;
  background-color: #ffffff;
  strong {
    display: block;
    margin-bottom: 16px;
  }
  > div {
    text-transform: capitalize;
  }
}