body {
  margin: 0;
  padding: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background: #f4f7f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*, ::after, ::before {
  box-sizing: border-box;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.react-datepicker-wrapper,
.react-datepicker__input-container{
  display: block !important;
}

.react-datepicker {
  display: flex !important;
}