.dropdown {
  position: absolute;
  width: 100%;
  top: 70px;
  left: 0;
  right: 0;
  padding: 16px;
  background: #fff;
  border-radius: 4px;
  border: solid 1px #cccccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
}
